[user]
	name = Adrian Häusler Redhe
	email = adrian.hredhe@gmail.com


[core]
    editor = nvim
    pager = nvim -R -

[init]
    defaultBranch = main

[delta]
    navigate = true

[merge]
    conflictstyle = diff3

[diff]
    tool=nvimdiff

; [difftool "nvimdiff"]
    ; cmd = "nvim -d \"$Local\" \"$Remote\""

[color]
    pager=no
    old = red
    new = green
